.go-up-container {
  overflow: hidden;
  width: fit-content;
}

.go-up {
  transform: translateY(100%);
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.go {
  transform: translateY(0);
  transition-delay: 0.6s;
}
