/* NAVIGATION BUTTON */

.nav-button {
  background: rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
}

.line {
  /* @apply absolute w-6 h-[2px] bg-white rounded; */
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: white;
  border-radius: 100;
  transform-origin: center;
  transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.7s ease-in-out;
}

.line.top {
  transform: translateY(-4px);
}

.line.bottom {
  transform: translateY(4px);
}

/* Open Button*/
.open .top {
  transform: translateY(0px) rotate(45deg);
}

.open .bottom {
  transform: translateY(0px) rotate(-45deg);
}

/* NAVIGATION */

.nav-content {
  z-index: 2;
  clip-path: inset(0 0 100% 0);

  transition: clip-path 0.7s var(--easing-func);
}

.nav-content.open {
  clip-path: inset(0 0 0 0);
}

.shadow-before-hover {
  position: relative;
  font-size: clamp(4rem, 5vw, 6rem);
  line-height: 1.1;
  font-family: var(--special-font);

  transform: translateY(1em);
  transition: transform 0.3s var(--easing-func);

  /* kinda important i think */
  will-change: transform;
}

.shadow-before-hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-1em);
  color: currentColor;
  z-index: -1;
  pointer-events: none;
}

.group:hover .shadow-before-hover {
  transform: translateY(0);
}
