/* nav cross */
@keyframes top-frames {
  0% {
    transform: rotate(0deg) translateY(-6px);
  }
  20% {
    transform: rotate(-5deg) translateY(-4px);
  }
  90% {
    transform: rotate(50deg) translateY(px);
  }
  100% {
    transform: rotate(45deg);
  }
}

.animate-top {
  animation: top-frames 0.5s ease-in-out-in-out forwards;
}

@keyframes top-reverse {
  0% {
    transform: rotate(45deg);
  }
  20% {
    transform: rotate(50deg) translateY(-2px);
  }
  90% {
    transform: rotate(-5deg) translateY(-4px);
  }
  100% {
    transform: rotate(0deg) translateY(-6px);
  }
}

.animate-top-reverse {
  animation: top-reverse 0.5s ease-in-out forwards;
}

@keyframes bot-frames {
  0% {
    transform: rotate(0deg) translateY(6px);
  }
  20% {
    transform: rotate(5deg) translateY(4px);
  }
  90% {
    transform: rotate(-50deg) translateY(px);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.animate-bot {
  animation: bot-frames 0.5s ease-in-out forwards;
}

@keyframes bot-reverse {
  0% {
    transform: rotate(-45deg);
  }
  20% {
    transform: rotate(-50deg) translateY(2px);
  }
  90% {
    transform: rotate(5deg) translateY(4px);
  }
  100% {
    transform: rotate(0deg) translateY(6px);
  }
}

.animate-bot-reverse {
  animation: bot-reverse 0.5s ease-in-out forwards;
}

/* navigation */

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-down {
  animation: slide-down 0.3s ease-in-out forwards;
}

.slide-up {
  animation: slide-up 0.3s ease-in-out forwards;
}

.cylinder {
  overflow: hidden;
}

li {
  font-size: 6rem;
  margin-bottom: 20px;
}

.cylinder ul li {
  transform: translateY(0); /* Start from original position */
  transition: transform var(--time) ease-out; /* Smooth transition for transform */
}

/* Hover effect: move the item up */
.cylinder:hover ul li {
  transform: translateY(-155%); /* Move up by 100% */
  transition-delay: calc(
    var(--index) * 0.075s
  ); /* Staggered delay based on index */
}

.cylinder:hover * {
  color: white;
}
