@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  --primary-color: #1d1d1d;
  --secondary-color: #ff6347;
}

[data-theme="dark"] {
  --primary-color: #1a202c;
  --secondary-color: #718096;
}

body {
  background-color: var(--primary-color);
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", cursive;
}
