@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  --primary-color: #1d1d1d;
  --secondary-color: #ff6347;
  --easing-func: cubic-bezier(0.33, 1, 0.68, 1);
  --special-font: "Poiret One", cursive;
  --normal-font: "Raleway", sans-serif;
}

[data-theme="dark"] {
  --primary-color: #1a202c;
  --secondary-color: #718096;
}

body {
  font-family: var(--normal-font);
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

p {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--special-font);
}

.title {
  font-size: 24px;
  font-family: var(--special-font);
}

.shadow-text {
  text-shadow: 2px 2px 2px #515151;
}
