.getToKnow {
  display: flex;
  letter-spacing: 0.05rem;
  position: relative;
  color: var(--color-tak);
  padding: 5px 0;
}

.cursor {
  display: inline-block;
  margin-left: 2px;
}

@media (min-width: 1280px) {
  .container {
    height: 500px;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
