.floatAnimation {
  animation: float linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: cover;
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-150px);
  }
}
